### Настройки IDE и редакторов ###
.vs/                 # Папка настроек Visual Studio
.vscode/             # Папка настроек VS Code
*.user               # Файлы пользовательских настроек IDE
*.suo                # Файлы параметров решения Visual Studio

### Сборки и бинарные файлы ###
[Bb]in/              # Выходные файлы сборки (Debug/Release)
[Oo]bj/              # Промежуточные объектные файлы
*.dll                # Скомпилированные библиотеки
*.exe                # Исполняемые файлы
*.pdb                # Файлы отладки
*.env
.env
### Пакеты NuGet ###
[Nn]u[Gg]ets*/       # Локальные папки пакетов (устаревшие версии)
*.nupkg              # Пакеты NuGet
packages/            # Папка восстановления пакетов (если не используется PackageReference)

### Файлы ОС ###
Thumbs.db            # Кэш эскизов Windows
.DS_Store            # Настройки папок macOS

### Логи и временные файлы ###
*.log                # Файлы логов
[Tt]emp/             # Временные файлы
[Tt]mp/              # Альтернативная папка для временных файлов

### Прочие артефакты ###
_ReSharper.*         # Кэш ReSharper
*.swp                # Файлы блокировки редакторов (Linux/Mac)